# Data directory
/data/*

# IDE (Integrated Development Environment)
.idea/

# Jupyter notebooks
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MLFlow runs
/mlruns/*
/notebooks/mlruns/*

# Data directory
/data/*

#Virtual Enviroments
/venv/

#Ignoring conda folder
.conda

# Model folder
/models/